<block-ui></block-ui>
<app-breadcrumb CurrentPage="Combustible"></app-breadcrumb>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-12">
        <div class="ibox ">
          <div class="ibox-content">
            <app-tabla (eventBefore)="fnBefore($event)" (eventNext)="fnNext($event)" [IndexData]="oIndexData" [CanNew]="false" (eventNew)="fnNew()" [CanEdit]="true" (eventEdit)="fnEdit($event)" [CanDelete]="true" (eventDelete)="fnDelete($event)" Column1Name="Nro" Column2Name="Combustible">
            </app-tabla>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
