    
    <div class="row">
        <div class="col-sm-4 m-b-xs">
            <small>
                Mostrando: <code>{{IndexData.ActualPage}} / {{IndexData.TotalPage}}</code> de {{IndexData.NroItems}} Registros
            </small>
        </div>
        <div class="col-sm-2 m-b-xs">
            <div *ngIf="IndexData.Items.length > 0">
                <span>
                    <button class="btn btn-xs btn-white" [disabled]="1 >= IndexData.ActualPage" (click)="btnBefore()"><i class="fa  fa-chevron-left" aria-hidden="true"></i></button>
                  
                    <button class="btn btn-xs btn-white" [disabled]="IndexData.ActualPage>=IndexData.TotalPage || 1>=IndexData.TotalPage" (click)="btnNext()"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                </span>
            </div>
        </div>
        
        <div class="col-sm-6 m-b-xs">
            <div class="m-t-md">
            <div class="float-right">
                <button *ngIf="CanRefresh" class="btn btn-sm btn-white" (click)="btnRefresh()">
                    <i class="fa fa-refresh" aria-hidden="true"></i> Actualizar
                </button>
                <button *ngIf="CanNew" class="btn btn-sm btn-white" (click)="btnNew()">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i> Nuevo
                </button>
                <button *ngIf="CanExport" class="btn btn-sm btn-white" (click)="btnExport()">
                    <i class="fa fa-file-excel-o" aria-hidden="true"></i> Exportar
                </button>
                <button *ngIf="CanPrint" class="btn btn-sm btn-white" (click)="btnPrint()">
                    <i class="fa fa-print" aria-hidden="true"></i> Imprimir
                </button>
            </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-sm table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th *ngIf="CanSelect"><i class="fa fa-list"></i></th>
                    <th *ngIf="Column1Name !== null">{{Column1Name}}</th>
                    <th *ngIf="Column2Name !== null">{{Column2Name}}</th>
                    <th *ngIf="Column3Name !== null">{{Column3Name}}</th>
                    <th *ngIf="Column4Name !== null">{{Column4Name}}</th>
                    <th *ngIf="Column5Name !== null">{{Column5Name}}</th>
                    <th *ngIf="Column6Name !== null">{{Column6Name}}</th>
                    <th *ngIf="Column7Name !== null">{{Column7Name}}</th>
                    <th *ngIf="Column8Name !== null">{{Column8Name}}</th>
                    <th *ngIf="Column9Name !== null">{{Column9Name}}</th>
                    <th *ngIf="Column10Name !== null">{{Column10Name}}</th>
                    <th *ngIf="FunctionName1 !== null">{{FunctionName1}}</th>
                    <th *ngIf="FunctionName2 !== null">{{FunctionName2}}</th>
                    <th *ngIf="FunctionName3 !== null">{{FunctionName3}}</th>
                    <th *ngIf="CanEdit || CanView || CanDelete">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let iLista of IndexData.Items">
                    <td *ngIf="CanSelect">
                        <input type="checkbox">
                    </td>
                    <td *ngIf="Column1Name !== null">{{iLista.Column1}}</td>
                    <td *ngIf="Column2Name !== null">{{iLista.Column2}}</td>
                    <td *ngIf="Column3Name !== null">{{iLista.Column3}}</td>
                    <td *ngIf="Column4Name !== null">{{iLista.Column4}}</td>
                    <td *ngIf="Column5Name !== null">{{iLista.Column5}}</td>
                    <td *ngIf="Column6Name !== null">{{iLista.Column6}}</td>
                    <td *ngIf="Column7Name !== null">{{iLista.Column7}}</td>
                    <td *ngIf="Column8Name !== null">{{iLista.Column8}}</td>
                    <td *ngIf="Column9Name !== null">{{iLista.Column9}}</td>
                    <td *ngIf="Column10Name !== null">{{iLista.Column10}}</td>
                    <th *ngIf="FunctionName1 !== null" style="text-align: center;"><a (click)="bntFunction1(iLista.Id)" class="btn btn-default btn-xs"><i  class="fa" [ngClass]="FunctionIcon1"></i></a></th>
                    <th *ngIf="FunctionName2 !== null" style="text-align: center;"><a (click)="bntFunction2(iLista.Id)" class="btn btn-default btn-xs"><i  class="fa" [ngClass]="FunctionIcon2"></i></a></th>
                    <th *ngIf="FunctionName3 !== null" style="text-align: center;"><a (click)="bntFunction3(iLista.Id)" class="btn btn-default btn-xs"><i  class="fa" [ngClass]="FunctionIcon3"></i></a></th>
                    <td *ngIf="CanEdit || CanView || CanDelete">

                        <div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle" aria-expanded="false"><i class="fa fa-list"></i> </button>
                            <ul class="dropdown-menu" x-placement="bottom-start" style="position: absolute; top: 29px; left: 0px; will-change: top, left;">
                                <li *ngIf="CanView"><a class="dropdown-item" (click)="btnView(iLista.Id)"> <i class="fa fa-eye fa-fw" aria-hidden="true"></i>&nbsp; Ver</a></li>
                                <li *ngIf="CanEdit"><a class="dropdown-item" (click)="btnEdit(iLista.Id)"> <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; Editar</a></li>
                                <li class="dropdown-divider"></li>
                                <li *ngIf="CanDelete"><a class="dropdown-item" (click)="btnDelete(iLista.Id)"><i class="fa fa-trash-o fa-fw" aria-hidden="true"></i>&nbsp; Anular</a></li>
                            </ul>
                        </div>


                    </td>
                </tr>
            </tbody>
        </table>
    </div>