<block-ui></block-ui>
<app-breadcrumb CurrentPage="Formularios"></app-breadcrumb>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="container-fluid">
        <div class="modal inmodal" id="myModalNew" tabindex="-1" role="dialog" aria-modal="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content animated flipInY">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Formulario</h4>
                        <small class="font-bold" *ngIf="nCurrentOption===1">Nuevo Registro</small>
                        <small class="font-bold" *ngIf="nCurrentOption===2">Editar Registro</small>
                    </div>
                    <div class="modal-body">
                        <section [hidden]="(nCurrentSectionModal!==1)" class="animated slideInLeft">
                            <div class="input-group m-b">
                                <h4>Datos del vehículo</h4>
                            </div>
                            <div class="input-group m-b">
                                <input type="text" class="form-control" placeholder="Ingrese Nro placa..." [(ngModel)]="sRuc" maxlength="7" (change)="onChangePlaca()">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-primary" (click)="fnBuscarVehiculo()">
                                            <i class="fa fa-search"></i> Buscar
                                        </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 mb-2">
                                    <label class="titulo-Campos">Empresa</label>
                                    <input type="text" class="form-control" disabled [(ngModel)]="sRazonSocial">
                                </div>
                                <div class="col-lg-6 mb-2">
                                    <label class="titulo-Campos" for="">Ruta</label>
                                    <input type="text" class="form-control" disabled [(ngModel)]="sRazonSocial">
                                </div>
                                <div class="col-lg-6 mb-2">
                                    <label class="titulo-Campos" for="">Estación de servicio </label>
                                    <input type="text"  class="form-control" disabled [(ngModel)]="sRazonSocial">
                                </div>
                                <div class="col-lg-6 mb-2">
                                    <label class="titulo-Campos" for="">Sucursal</label>
                                    <input type="text"  class="form-control" disabled [(ngModel)]="sRazonSocial">
                                </div>
                                <div class="col-lg-3 mb-2">
                                    <label class="titulo-Campos" for="">Monto <span [hidden]="nCentroPoblado == 0">(*)</span></label>
                                    <input class="form-control" appDigitOnly placeholder="Ingrese monto"  [(ngModel)]="sCentroPoblado" maxlength="100" />
                                </div>
                                <div class="col-lg-3 mb-2">
                                    <label class="titulo-Campos" for="">Fecha (*)</label>
                                    <input class="form-control" [(ngModel)]="sNumeroManzana" type="date" min='1900-01-01' max='9999-12-31'/>
                                </div>
                                <div class="col-lg-3 mb-2">
                                    <label class="titulo-Campos" for="">Hora (*)</label>
                                    <select class="form-control form-control-sm" [(ngModel)]="nIdLoteInterior" >
                                        <option value="-1">
                                            Seleccione
                                        </option>
                                        <option *ngFor="let iHora of lstHoras" [value]="iHora.sCodigo">
                                            {{iHora.sDescription}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-lg-3 mb-2">
                                    <label class="titulo-Campos" for="">Minuto (*)</label>
                                    <select class="form-control form-control-sm" [(ngModel)]="nIdLoteInterior" >
                                        <option value="-1">
                                            Seleccione
                                        </option>
                                        <option *ngFor="let iMinuto of lstMinutos" [value]="iMinuto.sCodigo">
                                            {{iMinuto.sDescription}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-group m-b">
                                <h4>Datos del conductor</h4>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 mb-2">
                                    <select class="form-control form-control-sm" [(ngModel)]="nIdLoteInterior" (change)="onChangeTipoDocOEMP()">
                                        <option value="-1">
                                            Seleccione
                                        </option>
                                        <option *ngFor="let iTipDocOEMP of lstTipoDocumentoOEMP" [value]="iTipDocOEMP.nId">
                                            {{iTipDocOEMP.sDescription}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-lg-4 mb-2">
                                    <input appDigitOnly class="form-control" placeholder="Ingrese Nro. doc" [(ngModel)]="sReferencia" (change)="onChangeNroDocOEMP()"/>
                                </div>
                                <div class="col-lg-2 mb-2">
                                    <button type="button" class="btn btn-primary" (click)="fnBuscarOperadorEmpresa()">
                                        <i class="fa fa-search"></i> Buscar
                                    </button>
                                </div>
                                <div class="col-lg-4 mb-2">
                                    <label class="titulo-Campos" for="">Apellido Paterno </label>
                                    <input class="form-control" [(ngModel)]="sCentroPoblado" maxlength="100" disabled/>
                                </div>
                                <div class="col-lg-4 mb-2">
                                    <label class="titulo-Campos" for="">Apellido Materno </label>
                                    <input class="form-control" [(ngModel)]="sNumeroManzana" maxlength="100" disabled/>
                                </div>
                                <div class="col-lg-4 mb-2">
                                    <label class="titulo-Campos" for="">Nombres</label>
                                    <input class="form-control"  [(ngModel)]="sNumeroManzana" maxlength="100" disabled/>
                                </div>
                            </div>
                            <div class="input-group m-b">
                                <h4>Datos del operario de transporte urbano</h4>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 mb-2">
                                    <select class="form-control form-control-sm" [(ngModel)]="nIdLoteInterior" (change)="onChangeTipoDocOGTU()">
                                        <option value="-1">
                                            Seleccione
                                        </option>
                                        <option *ngFor="let iTipDocOGTU of lstTipoDocumentoOGTU" [value]="iTipDocOGTU.nId">
                                            {{iTipDocOGTU.sDescription}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-lg-4 mb-2">
                                    <input appDigitOnly class="form-control" placeholder="Ingrese Nro. Doc" [(ngModel)]="sReferencia"  maxlength="150" (change)="onChangeNroDocOGTU()"/>
                                </div>
                                <div class="col-lg-2 mb-2">
                                    <button type="button" class="btn btn-primary" (click)="fnBuscarOperadorGTU()">
                                        <i class="fa fa-search"></i> Buscar
                                    </button>
                                </div>
                                <div class="col-lg-4 mb-2">
                                    <label class="titulo-Campos" for="">Apellido Paterno </label>
                                    <input class="form-control" [(ngModel)]="sCentroPoblado" maxlength="100" disabled/>
                                </div>
                                <div class="col-lg-4 mb-2">
                                    <label class="titulo-Campos" for="">Apellido Materno </label>
                                    <input class="form-control" [(ngModel)]="sNumeroManzana" maxlength="100" disabled/>
                                </div>
                                <div class="col-lg-4 mb-2">
                                    <label class="titulo-Campos" for="">Nombres</label>
                                    <input class="form-control"  [(ngModel)]="sNumeroManzana" maxlength="100" disabled/>
                                </div>
                            </div>
                        </section>
                        <section [hidden]="(nCurrentSectionModal!==2)" class="animated slideInRight">
                            <div class="input-group m-b">
                                <h4>Archivo</h4>
                            </div>
                            <div class="row">
                                
                                <div class="col-lg-4 mb-2">
                                    <label class="titulo-Campos" for="">Nro (*)</label>
                                    <input appDigitOnly class="form-control" placeholder="Ingrese Nro de documento" [(ngModel)]="sNroDocRepresentanteLegal" maxlength="8"/>
                                </div>
                                
                            </div>
                        </section>
                    </div>
                    <div class="modal-footer">
                        <button type="button" [hidden]="nCurrentSectionModal!==1" class="btn btn-white" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
                        <button type="button" (click)="fnSiguienteModal()" [hidden]="nCurrentSectionModal!==1" class="btn btn-primary"><i class="fa fa-arrow-circle-right"></i> Siguiente</button>
                        <button type="button" (click)="nCurrentSectionModal = 1 " [hidden]="nCurrentSectionModal!==2" class="btn btn-white"><i class="fa fa-arrow-circle-left"></i> Anterior</button>
                        <button type="button" (click)="fnGuardar()" [hidden]="nCurrentSectionModal!==2" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Listado de Fomularios </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a *ngIf="false" class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button (click)="fnChangeTipoBusqueda(1)" type="button" class="btn " [ngClass]="{'btn-secondary': nTipoFiltro === 1, 'btn-white': nTipoFiltro === 2}">Ingresar por Placa de vehículo</button>
                            <button (click)="fnChangeTipoBusqueda(2)" type="button" class="btn " [ngClass]="{'btn-secondary': nTipoFiltro === 2, 'btn-white': nTipoFiltro === 1}">Ingresar por Fecha</button>
                          </div>
                        <div class="row">
                            <div class="col-sm-4">
                    
                                <div  class="form-group">
                                    <small class="text-navy" [hidden]="(nTipoFiltro !== 1)">Placa de vehículo:</small>
                                    <small class="text-navy" [hidden]="(nTipoFiltro !== 2)">Fecha:</small>
                                    <div class="input-group" [hidden]="(nTipoFiltro !== 1)"><input id="sFilter1" [(ngModel)]="sFilter" class="form-control form-control-sm" type="text" maxlength="7"><span class="input-group-append"><button type="button" (click)="fnBuscar()" class="btn btn-sm btn-primary"><i class="fa fa-search"></i> Buscar</button></span></div>
                                    <div class="input-group" [hidden]="(nTipoFiltro !== 2)"><input id="sFilter2" [(ngModel)]="sFilter" class="form-control form-control-sm" type="date" min='1900-01-01' max='9999-12-31'><span class="input-group-append"><button type="button" (click)="fnBuscar()" class="btn btn-sm btn-primary"><i class="fa fa-search"></i> Buscar</button> </span></div>
                                </div>
                            </div>
                        </div>
                        <app-tabla (eventBefore)="fnBefore($event)" (eventNext)="fnNext($event)"   [IndexData]="oIndexData"  [CanNew]="true" (eventNew)="fnNew()" [CanEdit]="true" (eventEdit)="fnEdit($event)" [CanDelete]="true" (eventDelete)="fnDelete($event)" Column1Name="Nro" Column2Name="Fecha" Column3Name="Placa" Column4Name="Monto" Column5Name="Nombre&nbsp;de&nbsp;conductor" Column6Name="Nombre&nbsp;de&nbsp;operario">
                        </app-tabla>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>