<block-ui></block-ui>
<app-breadcrumb CurrentPage="Rutas"></app-breadcrumb>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="container-fluid">
        <!-- -->
        <div class="modal inmodal" id="myModalNew" tabindex="-1" role="dialog" aria-modal="true">
            <div class="modal-dialog">
                <div class="modal-content animated flipInY">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Ruta</h4>
                        <small class="font-bold" *ngIf="nCurrentOption===1">Nuevo Registro</small>
                        <small class="font-bold" *ngIf="nCurrentOption===2">Editar Registro</small>
                    </div>
                    <div class="modal-body">
                        <section class="animated slideInLeft">
                            <div class="input-group m-b">
                                <h4>Datos de la Ruta</h4>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 mb-2">
                                    <label class="titulo-Campos">Nombre de Ruta (*)</label>
                                    <input type="text" placeholder="" class="form-control"  maxlength="100">
                                </div>
                               
                            </div>
                            <div class="row">
                                <div class="col-lg-6 mb-2">
                                    <label class="titulo-Campos">Itinerario de Ruta (*)</label>
                                    <input type="text" placeholder="" class="form-control" >
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-lg-6 mb-2">
                                    <label class="titulo-Campos">Kilometros por Ruta (*)</label>
                                    <input type="text" placeholder="" class="form-control" maxlength="100">
                                </div>
                                
                            </div>
                        </section>
                    </div>
                    <div class="modal-footer">
                        <button type="button"  class="btn btn-white" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
                        <button type="button" (click)="fnGuardar()" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- -->
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Listado de Rutas</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a *ngIf="false" class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button (click)="nTipoFiltro = 1" type="button" class="btn " [ngClass]="{'btn-secondary': nTipoFiltro === 1, 'btn-white': nTipoFiltro === 2}">Ingresar por Nro de Ruta</button>
                            <button (click)="nTipoFiltro = 2" type="button" class="btn " [ngClass]="{'btn-secondary': nTipoFiltro === 2, 'btn-white': nTipoFiltro === 1}">Ingresar por Nombre de Ruta</button>
                          </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div  class="form-group">
                                    <small [hidden]="(nTipoFiltro !== 1)">Nombre de Ruta:</small>
                                    <small [hidden]="(nTipoFiltro !== 2)">Itinerario de Ruta:</small>
                                    <div class="input-group">
                                        <input [(ngModel)]="sFilter" class="form-control form-control-sm" type="text">
                                        <span class="input-group-append">
                                            <button type="button" (click)="fnBuscar()" class="btn btn-sm btn-primary" >
                                                <i class="fa fa-search"></i> Buscar
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <app-tabla 
                            FunctionName1="Coordenadas" FunctionIcon1="fa-map-marker"
                            (eventBefore)="fnBefore($event)" 
                            (eventNext)="fnNext($event)"   
                            [IndexData]="oIndexData"  
                            [CanNew]="true" (eventNew)="fnNew()" 
                            [CanEdit]="true"  (eventEdit)="fnEdit($event)" 
                            [CanDelete]="true" (eventDelete)="fnDelete($event)" 
                            Column1Name="Nro" 
                            Column2Name="Ruta" 
                            Column3Name="Itinerario" 
                            Column4Name="Kilometros">
                        </app-tabla>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
