<block-ui></block-ui>
<app-breadcrumb></app-breadcrumb>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="container-fluid">

        
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Listado de Municipalidades </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a *ngIf="false" class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>

                    <app-tabla (eventBefore)="fnBefore($event)"
                               (eventNext)="fnNext($event)"
                               (eventSearch)="fnBuscar($event)"
                               [IndexData]="oIndexData"
                               [CanSearch]="true"
                               [CanEdit]="true"
                               [CanDelete]="true"
                               Column1Name="Nombre">
                    </app-tabla>
                </div>
            </div>

        </div>
    </div>
</div>